@page "/"
@using QRBusinessCard.Services
@inject QRCodeService QRCodeService
@rendermode InteractiveServer

<PageTitle>Business Card Generator</PageTitle>

<section class="hero">
    <div class="hero-body">
        <div class="container content">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <h1 class="has-text-centered">
                        Business Card Generator
                    </h1>

                    <p class="has-text-centered">
                        Generate a digital business card in QR Code format.
                    </p>

                    <hr>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Profile</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="First Name" name="firstname"
                                        @bind="firstName" required @oninput="OnInputChanged">
                                    <span class="icon is-small is-left">
                                        <img src="icons/user.svg">
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Last Name" name="lastname"
                                        @bind="lastName" required @oninput="OnInputChanged">
                                    <span class="icon is-small is-left">
                                        <img src="icons/user.svg">
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Business</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Company" name="company"
                                        @bind="company" @oninput="OnInputChanged">
                                    <span class="icon is-small is-left">
                                        <img src="icons/building.svg">
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Job" name="job" @bind="jobTitle" @oninput="OnInputChanged">
                                    <span class="icon is-small is-left">
                                        <img src="icons/briefcase.svg">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Contact</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="email" placeholder="Email" name="email" @bind="email" @oninput="OnInputChanged">
                                    <span class="icon is-small is-left">
                                        <img src="icons/at-sign.svg">
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Phone" name="phone" @bind="phone" @oninput="OnInputChanged">
                                    <span class="icon is-small is-left">
                                        <img src="icons/phone.svg">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-fullwidth" @onclick="GenerateQRCode" disabled="@isGenerateButtonDisabled">
                                        <span class="icon">
                                            <img src="icons/send.svg">
                                        </span>
                                        <span>Generate</span>
                                    </button>
                                </div>
                                @if (!string.IsNullOrEmpty(qrCodeImage))
                                {
                                    <div class="card-image is-flex is-justify-content-center">
                                        <img src="@qrCodeImage" alt="QR Code" width="192">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


@code {
    private string firstName = "";
    private string lastName = "";
    private string company = "";
    private string jobTitle = "";
    private string email = "";
    private string phone = "";
    private string qrCodeImage = "";
    private bool isGenerateButtonDisabled = true;

    private void OnInputChanged(ChangeEventArgs e)
    {
        isGenerateButtonDisabled = string.IsNullOrEmpty(firstName) && string.IsNullOrEmpty(lastName);
    }

    private void GenerateQRCode()
    {
        try
        {
            qrCodeImage = QRCodeService.GenerateVCardQRCode(
            firstName, lastName, company, jobTitle, email, phone);
            isGenerateButtonDisabled = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error generating QR code: {ex.Message}");
            // You could also add a UI element to show the error
        }
    }
}
